<html>
<head>
    <title>Home</title>
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div>
        <a href="#" id="logo"></a>
        <nav>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="banner">
    <div class="banner-inner">
        <h1 id="Xperience"> Xperience Management Application</h1>
        <form method="POST" action="/prediction_success" >
            <label id="label">Tell us how you feel about the product:</label>
            <textarea rows="15" cols="80" placeholder="Enter your response" name="review" ></textarea>
            <input type="submit"/>
        </form>
    </div>
</section>
<footer>
    <ul class="social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
</footer>
<footer class="second">
    <p> &copyXperience management</p>
</footer>
</body>
</html>
